# Base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/starter

# BetterAuth
BETTER_AUTH_SECRET=<your secret>
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app

# Google
GOOGLE_CLIENT_ID=<your secret>
GOOGLE_CLIENT_SECRET=<your secret>

# Email
RESEND_API_KEY=<your secret>
EMAIL_FROM=delivered@resend.dev
EMAIL_TO=example@mail.com
AUDIENCE_ID=<your secret>

# Stripe
STRIPE_SECRET_KEY=<your secret>
STRIPE_WEBHOOK_SECRET=<your secret>